.news-detail-container h1 {
  color: white;
}

.news-content {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px);
  border: 1px solid #a855f7;
  color: #dfaff5;
  font-size: 1.1rem;
  line-height: 1.6;
  white-space: pre-line;
}

.news-detail-container .badge {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white;
  border: 1px solid #a855f7;
  font-size: 1rem;
}